@charset "UTF-8";

    /* 背景にグラデーション・モダンなデザイン */
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background: linear-gradient(135deg, #1f1c2c, #928dab);
        color: #fff;
        margin: 0;
        padding: 0;
    }
    


    /* サイドバー（初期状態は出す） */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background: #333;
  color: white;
  transform: translateX(0);
  transition: transform 0.3s ease;
  z-index: 1000;
}


    
.sidebar h2 {
    font-size: 14px;
    margin: 10px 0;
    color: #605e5c;
}
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar li {
    display: flex;
    align-items: center;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}
.sidebar li:hover,
.sidebar li.active {
    background: rgb(146, 146, 146);
}
.sidebar li .label {
    margin-left: 8px;
    font-size: 19px;
}

/* サイドバーが非表示状態 */
.sidebar.invisible {
  transform: translateX(-100%);
}

/* ハンバーガーボタン */
.menu-toggle {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 24px;
  background: none;
  border: none;
  color: rgba(255,255,255);
  cursor: pointer;
  z-index: 1100;
}
#main.shifted{
	  margin-left: 200px; /* サイドバー幅 */
    margin-right: 0;
    transform: translateX(20px); /* 少し間隔を開ける */
  }


/* ------------------------- */
/* モバイル（768px以下）      */
/* ------------------------- */
@media screen and (max-width: 768px) {
  
  .sidebar {
    /*全画面表示 */
    display: block ;
    position: fixed ;
    top: 0; left: 0 ;
    width: 100vw ;
    height: 100vh ;
    background-color: rgb(0,0,0) ;
    z-index: 1000 ;
    overflow-y: auto ;
    transform: none ;
  }
  .sidebar.invisible {
  transform: translateX(-100%);
}
  
}

